/*example of element selector*/

body {
	background-image: url("../img/summer.gif");
	background-repeat: no-repeat;
	background-size: cover;
}


	.third-item { color: red; font-size: 50px;
	}
	.second-item {color: green; font-size: 50px}
	.first-item {color: yellow; font-size: 50px}

	.main-heading { margin-left: 300px;}
	.main-heading { color: blue; font-size: 40px }

	.main-image {width: 100px;}
	.second-image {width: 95px;}
	.social-media {font-size: 50px;}

	